*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*utilities*/
:root{
    --header-bg-color: #3161E0;
    --color-use: #7c94e1;
    --footer-bg-black: #23272A;
 }
 
.general-cnt{
    width: 70%;
    margin: 0 auto;
    display: flex;
}


.container{
    min-height: 400px;
    padding: 30px;
}

    

/*Header section*/
header{
    height: 70px;
    background-color:var(--header-bg-color);
}

#linkbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.linkbar-cnt{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.logo{
    width: 20%;
}

nav{
    width: 60%;
}

.login-btn{
    width: 20%;
    text-align: right;
}

nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 18px ;
}

nav>ul>li{
    cursor: pointer;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
}
/*Main section*/

div#jumbotron h1{
    font-size: 50px;
    padding-bottom: 25px;
}

div#jumbotron p{
    font-size: 20px;
    padding: 10px 0;
}
.jumbo-main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#jumbotron{
    margin: 0 auto;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.download-btn, .broswer-btn{
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
}

.broswer-btn{
    background-color: #23272A;
    color: white;
}

.main-cnt{
    display: flex;
}

div.column-right h1{
    font-size: 2.5em;
    padding-bottom: 20px;
}
.column-left{
    width: 70%;
    
}

.column-right{
    width: 30%;
}

.big-cnt{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

div>img{
    max-width: 100%;
}

div.column-left #voice-con{
    width: 100%;
   padding-left: 130px;
}

div.big-cnt button, div.footer-pd button{
    background-color: var(--color-use);
    color: white;
}
h3{
    background-image: url(../img/stars.svg);
    background-size:cover;
}
/*footer section*/


.footer-cnt{
    background-color: var(--footer-bg-black);
    min-height: 400px;
    padding: 5px 30px 15px;
}

.footer-column{
    display: flex;
    height: 100%;
    padding: 35px;
}

.column{
    height: 100%;
    background-color: var(--main-bg-azul);
    flex-grow:1;
}

.great{
    background-color: var(--main-bg-pink);
    flex-grow: 2;
}

div.column ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.column ul li:not(:first-child){
    color: white;
}
li>h1, h4{
    color: var(--color-use);
}

ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}

li>img{
   height: 1em;
}
#footer-nav{
    background-color: var(--footer-bg-black);
    height: 70px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 30px 0px;
}

.cnt-nav{
    background-color: var(--footer-bg-aqua);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footer-pd{
    padding: 3px 5px;
}